<TABLE BORDER="0" CELLBORDER="1" CELLSPACING="0" CELLPADDING="5">
    <TH width="100%;">
        <TD colspan="2" bgcolor="{{ style.Table.Name.BackgroundColor }}" ALIGN="CENTER"><font color="{{ style.Table.Name.TextColor }}">{{ table.Name }}</font></TD>
    </TH>
    {% for col in table.Columns %}
    {% set column_bg = "#ffffff" %}
    {% if col.IsPrimaryKey %}
    {% set column_bg = "#fcebc7" %}
    {% elseif (loop.index - table.PrimaryKeyColumnsCount) % 2 == 0 %}
    {% set column_bg = "#dfe6e9" %}
    {% endif %}
    <TR width="100%;">
        <TD bgcolor="{{ column_bg }}" ALIGN="LEFT">{{ col.Name }}</TD>
        <TD bgcolor="{{ column_bg }}" ALIGN="LEFT">{{ col.Type }}</TD>
    </TR>
    {% endfor %}
</TABLE>
