name: validate-test-cases

on:
  push:
    branches: ['master']
  pull_request:

permissions:
  contents: read
  pull-requests: read
  checks: write

jobs:
  protolint:
    name: code-lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Run linter
        uses: ci-space/protolint-action@master
